---
const { title, children } = Astro.props;
---

<article class="info-card">
  <h3>{title}</h3>
  <slot /> 
</article>

<style>
  .info-card {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  .info-card h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #111;
  }
  .info-card div {
    color: #333;
  }
</style>
